
header {
    background-color: slateblue;
    text-align: center;
    color: white;
    padding: 10px;
    font-size: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
    width: 800px;
    height: 400px;
    max-width: 70%;
    border: solid 5px slateblue;
    border-radius: 10px;
    
}

.buttons {
    background-color: slategray;
    color: white;
    font-size: 14px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.buttons:hover {background-color: slateblue;}


#intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 80%;
}

#start {
    padding: 10px;

}

.visible {
    display: none;
}

#response {
    display: none;
    font-size: 18px;
    font-style: italic;
    border-top: solid 2px slategray; 
    padding-top: 20px;
}


#answer-buttons {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}


#input-initials {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

@media screen and (max-width: 575px) {
    header {
      display: block;
    }

